*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
    position: relative;
}
.container{

    padding: 10px 10%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
nav ul li a:hover{
    color: #ff004f;
    width: 100%;
}
.header-text{
    margin-top:20%;
    font-size:30px;
}
.header-text h1{
    font-size: 60px;
    font-weight: 700;
    margin-top: 20px;

}
.header-text h1 span{
    color: #ff004f;
}


/* ------------------------------------about------------------------------------ */

#about{
    margin-top: 100px;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px 0;
}
.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 100%;
    
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    height: 10px;
    color: #b54769;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* ------------------------------------services------------------------------------ */

#services{
    padding: 20px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    transition: 0.5s;
}

.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: 0.5s;
}

.services-list div i{
    font-size: 50px;
    color: #ff004f;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.services-list div a{
    text-decoration: none;
    border-bottom: 4px solid rgb(255, 255, 255);
    padding-bottom: 5px;
    color: #ff004F;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #d6aebdfc;
    color: #000000;
    transform: translateY(-10px);
}
.services-list div a:hover{
   color: #000000;
}

/* ------------------------------------portfolio------------------------------------ */
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    transition: 0.5s;
}
.work{
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    position: absolute;
    width: 100%;
    height: 0%;
    left: 0;
    bottom: 0;
    background: linear-gradient(rgb(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: 0.5s;
}

.layer h3{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}

.layer p{
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 20px;
}

.layer a{
    text-decoration: none;
    color: #ff004f;
    line-height: 60px;
    background: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    height: 60px;
    width: 60px;
    border-radius:50%;
    text-align: center;
    transition: 0.5s;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    transition: background 0.5s;
}

.btn:hover{
    background: #ff004f;
}

/* ------------------------------------contact------------------------------------ */
.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
    width: 100%;
    border-radius: 15px;
}
.contact-left p i{
    font-size: 30px;
    color: #ff004f;
    margin-right: 15px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #fff;
    color: #000000;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    margin-right: 20px;
    transition: 0.3s;
}
.social-icons a:hover{
    background: #ff004f;
    color: #fff;
    transform: translateY(-6px);
}
.btn.btn2{
    margin-top: 30px;
    display: inline-block;
    background: #ff004f;
    color: #ffffff;
    font-weight: 700;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    padding: 15px;
    border-radius: 6px;
    margin: 15px 0;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    background-color: #262626;
    border:0;
    outline: none;
    transition: 0.3s;
}
form .btn2{
    padding: 14px 60px;
    border-radius: 6px;
    margin: 20px 0;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    color: #fff;
    background: #ff004f;
    transition: 0.3s;
    border: none;
    outline: none;
}

.copyright{
    width:100%;
    background: #262626;
    padding: 25px 0;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
}

/* ------------------------------------responsive------------------------------------ */

nav .fa-times{
    display: none;
}
nav .fa-bars{
    display: none;
}

@media only screen and (max-width: 600px){
    #header{
        height: 100%;
        width: 105%;
        margin: 0;

        background-image: url(phone-background.png);
    }

    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1{
        font-size: 30px;
    }
    nav .fa-times{
        display: block;
        font-size: 25px;
    }
    nav .fa-bars{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100%;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;

    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        margin-bottom: 45px;
        cursor: pointer;
        display: block;

    }
    .sub-title{
        font-size: 40px;
    }

    #about{
        margin-top: 50px ;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom:30px ;
    }
}